

#header {
  width:100%;
	background-color: white;
	// box-shadow: 0 2px 10px rgba(255,255,255,0.5);

	position: fixed;
	top: 0px;
	left: 0px;
  z-index:900;

  text-transform: uppercase;
	text-decoration: none;

  display: flex;
}


#mmiboard_nav {
  flex: 1;
  padding: 0 20px;

	display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;

	font: 1.62em / 1em 'Brandon Grot W01 Medium', Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	font-weight: lighter;
	text-transform: uppercase;

		a {
			color: #b2b2b2;
      text-decoration: none;
      flex-shrink: 0;
		}
}

#job_nav {
  padding: 20px 0;
  display: flex;
  flex: 3;
  align-items: center;
	border-left: 1px solid #e5e5e5;
  justify-content: space-around;

  ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;

    a {
      color: #000;
      text-decoration: none;
      }
    }
  }



#new_job_nav {
    display: flex;
    flex: 1;
    align-items: center;
	  justify-content: flex-end;
    flex-shrink: 0;

		border-left: 1px solid #e5e5e5;
    ul {
      margin: 0;
      a {
        color: #000;
        text-decoration: none;
        padding-right: 20px
        }
    }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 160px;
  }
  #job_nav {
    ul {
      flex-direction: column;
    }
  }
}
